.card {
    border-radius: 10%;


    .body {
        background-color: white;
        padding: 30px;
        height: 420px !important; //calc(100vh - (200px + 56px));
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
        .btn {
            height: 50px;
        }
    }
}

ion-item {
    padding-right: 20px !important;
}