<ion-header>
  <ion-toolbar>
    <ion-title>cadastro-fornecedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
		<div class="header"></div>

		<div class="body">      
			<ion-toolbar>
				<ion-item>
					<ion-label color="medium" position="floating">Nome</ion-label>
					<ion-input ></ion-input>
        		</ion-item>
        
				<ion-item>
					<ion-label color="medium" position="floating">Email</ion-label>
					<ion-input ></ion-input>
				</ion-item>

				<ion-item>
					<ion-label color="medium" position="floating">Cep</ion-label>
					<ion-input ></ion-input>
        </ion-item>

        <ion-item>
         <ion-label color="medium" position="floating">Endereço</ion-label>
					<ion-input ></ion-input>
        		</ion-item>
        
				<ion-item>
					<ion-label color="medium" position="floating">Cidade</ion-label>
					<ion-input ></ion-input>
				</ion-item>

				<ion-item>
					<ion-label color="medium" position="floating">Telefone</ion-label>
					<ion-input ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Serviços</ion-label>
          <ion-select  id='condition' [(ngModel)]="order.paymentCondition" cancelText="Cancelar" disabled={{isEnabled}}>
            <ion-option *ngFor="let condition of paymentConditions" value="{{condition}}">{{condition.name}}</ion-option>
          </ion-select>
        </ion-item>

        
			</ion-toolbar>

			<ion-button class="btn" color="primary" fill="outline" expand="block" (click)="cadastrar()">Cadastrar</ion-button>
			<ion-button class="btn" color="danger" fill="clear" expand="block" href="/tabs/home">Cancelar</ion-button>
		</div>
	</div>

</ion-content>
