<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro Fornecedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
		<div class="header"></div>

		<div class="body">      
			<ion-toolbar>
				<ion-item>
					<ion-label color="medium" position="floating">Nome</ion-label>
					<ion-input ></ion-input>
        		</ion-item>
        
				<ion-item>
					<ion-label color="medium" position="floating">Email</ion-label>
					<ion-input ></ion-input>
				</ion-item>

				<ion-item>
					<ion-label color="medium" position="floating">Cep</ion-label>
					<ion-input ></ion-input>
        </ion-item>

        <ion-item>
         <ion-label color="medium" position="floating">Endereço</ion-label>
					<ion-input ></ion-input>
        		</ion-item>
        
				<ion-item>
					<ion-label color="medium" position="floating">Cidade</ion-label>
					<ion-input ></ion-input>
				</ion-item>

				<ion-item>
					<ion-label color="medium" position="floating">Telefone</ion-label>
					<ion-input ></ion-input>
        </ion-item>

        <ion-item>  
          <ion-label>Serviço</ion-label>  
            <ion-select value="brown" okText="Selecionar" cancelText="Cancelar" [(ngModel)]="selectedVal" (ionChange)="OnChange($event)">  
            <ion-select-option *ngFor="let data of services" [value]="data._nome">{{ data.nome}}</ion-select-option>  
              
          </ion-select>  
        </ion-item>
       

        
			</ion-toolbar>

			<ion-button class="btn" color="primary" fill="outline" expand="block" (click)="cadastrar()">Cadastrar</ion-button>
			<ion-button class="btn" color="danger" fill="clear" expand="block" href="/tabs/home">Cancelar</ion-button>
		</div>
	</div>

</ion-content>
